#-- Node environment
# possible values - development | production
#
ENV=development
# see why we should use NODE_ENV as production:
# https://www.dynatrace.com/news/blog/the-drastic-effects-of-omitting-node_env-in-your-express-js-applications/
#
NODE_ENV=development
# flag to log filtered env vars
#
ENV_LOG=true
#-- Data source
VITE_BASE_URL=https://template-node-sjz6wnaoia-uc.a.run.app/graphql
# proxied url example
#
# PROXY_URL=https://swapi.co

#-- Web Push notification

# Firebase
#
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Supabase
#
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=